<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<meta name="copyright" content="Your Name, Your Department" />
<meta name="author" content="Your Name" />
{#<!-- General Search Engines -->#}
<meta name="description" content="{{ config.APP_NAME }}" />

{#<!-- Twitter Cards -->#}
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{ config.APP_NAME }}" />

{#<!-- Open Graph (Facebook) -->#}
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="{{ config.APP_NAME }}" />
<meta property="og:description" content="{{ config.APP_NAME }}" />
<meta property="og:url" content="{{config.SITE_URL}}" />
<meta property="og:site_name" content="{{ config.APP_NAME }}" />
