{% extends base_template %}

{%block title %}Command{% endblock %}

{% block css %}
{#
<link rel="stylesheet" href="{{url_for('command.static', filename='assets/cmd.css', v=1)}}" />
#}
{{svelte_css('commands', 'command.static')}}
{% endblock css %}

{% block content %}
<div class="container mt-5 mb-5 w-50">
    <h1 class="text-center">Run a Process</h1>
    <p>
        A small svelte/flask app to show how to run a process on the server and
        <i>progressively</i> deliver the output to the browser using <a
            href="https://developer.mozilla.org/en-US/docs/Web/API/EventSource">EventSource</a>.
    </p>
    <p>
        Run: <code>[sys.executable, "-u", "-m", "app.blueprints.commands"]</code>
    </p>
    <div id="app">{# Command.svelte goes here via cmd.js #}</div>
</div>
{% endblock content %}

{% block js %}
<script>
    // of type ConfigType
    const Config = {
        runcommand_url: "{{url_for('command.runcommand') }}",
        kill_url: "{{url_for('command.kill') }}"
    }
</script>

{{svelte_js('commands', 'command.static')}}
{% endblock js %}
