{% extends base_template %}

{%block title %}Dropzone{% endblock %}

{% block css %}
{{ svelte_css('dropzone', 'dropzone.static') }}
{% endblock css %}

{% block content %}
<div class="container mt-5 mb-5 w-50">
    <h1 class="text-center">Dropzone</h1>
    <a href="https://docs.dropzone.dev/">See Documentation</a>
    <div id="app">{# Dropzone.svelte goes here via dropzone.js #}</div>
</div>
{% endblock content %}

{% block js %}
{{ svelte_js('dropzone', 'dropzone.static') }}
{% endblock js %}
