{% extends "raw.html" %}

{% block title %}Welcome {{config.APP_NAME}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='assets/main.css')}}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div id="app"></div>
    
</div>
{% endblock content %}

{% block js %}
{{super()}}
<script>
const Config = {
    view_url: "{{url_for('view.index')}}",
    attr1: 22
}
</script>
<script src="{{url_for('static', filename='assets/main.js')}}"></script>
{% endblock js %}