<!DOCTYPE html>
{%- from "fragments/macros.html" import offsite, nav_link -%}
<html lang="en">
<head>
    {% include "fragments/meta.html" %}
    <title>{% block title %}{{config.APP_NAME}}{% endblock %}</title>
    {% block meta %}{% endblock meta %}
    <link rel="icon" href="{{url_for('static', filename='img/svelte.svg')}}" />
    <link rel="apple-touch-icon" href="{{url_for('static', filename='img/svelte.svg')}}" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Gruppo" />
    {% include "fragments/google.html" %}
    {{ cdn_css("bootstrap") }}

    {% if config.FONT_ICONS %}

        {{ cdn_css("fontawesome") }}

    {% endif %}

    {% block cdn_css %}{% endblock %}
    <style>
    {% include "raw.css" with context %}
    </style>
    {% block css %}{% endblock css %}

    {% block header_js %}{% endblock %}
    {# PEB greens clockwise darkest to lightest #768d28 #a6bd28 #becf5a #dee5a2 #}

</head>

<body>
    {% block body_top %}{% endblock %}
    {# include "fragments/beta.html" #}
    <a href="#main-content" class="sr-only sr-only-focusable">Skip to main content</a>
    {# needs to be outside any effects divs #}
    {% block dialogs %}{% endblock dialogs %}

    <div id="wrap">

        {% block header %}
        <header>
            <div id="hero" class="d-none d-lg-block app-bg-dark text-white">
                <span class="header-text">
                    <span>{{config.APP_NAME}}</span>
                </span>

            </div>

            <div class="d-lg-none header-font text-white text-center bg-info"
                style="height:2.5em;">
                <div style="font-size:1.8em;">
                    {{config.APP_NAME}}
                </div>
            </div>

        </header>
        {% endblock header %}
        {% block navbar %}
        <nav id="app-navbar" class="navbar sticky-top navbar-expand-md navbar-dark app-bg-dark" id="top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{url_for('static', filename='img/svelte.svg')}}" style="height:1.1em; margin-top:-2px" alt="{{config.APP_NAME}} logo"/>
                    {{config.APP_NAME}}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#app-navbar-collapse"
                    aria-controls="app-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="app-navbar-collapse" class="collapse navbar-collapse" role="navigation">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a {{ nav_link('view.index') }} title="Home page">
                                Home <span class="fas fa-home"></span>
                            </a>
                        </li>

                        {% block navbar_left %}{% endblock %}

                    </ul>
                    <ul class="navbar-nav">
                        {%- block navbar_right -%}
                        {% endblock navbar_right %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock navbar %}

        {% block precontent %}{% endblock %}

        <main id="main-content">
            {% block content %}{% endblock %}
        </main>

        {% block postcontent %}{% endblock %}

        {% block footer %}
        <footer id="app-footer" class="app-bg-dark text-light">
            <div class="container">
                <div class="d-flex justify-content-around">
                    <div>
                        <ul class="list-inline text-center" style="padding-top:.5em">
                            <li class="list-inline-item">
                                <a class="offsite" href="https://plantenergy.edu.au"
                                    target="_blank">© 2022 Plant Energy Biology</a>
                            </li>
                            <li class="list-inline-item">|</li>
                            <li class="list-inline-item">version:
                                <span class="text-muted">
                                    {{ config['GIT_VERSION'][:7] }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">

                    <div class="col text-center">
                        If you find this resource useful please cite the following:
                    </div>
                    <div class="col text-center">

                            Me and You
                            <br/>
                            PMID: <a target="pubmed" class="offsite"
                                href="https://ncbi.nlm.nih.gov/pubmed/XXXXXX">PUBMED</a>
                            doi: <a target="doi" class="offsite"
                                href="https://doi.org/XXXXX">DOI</a>

                    </div>

                    <div class="col text-center">
                        <img src="{{url_for('static', filename='img/svelte.svg')}}" style="margin-top:10px;height:4em"
                            alt="UWA logo" />
                    </div>

                </div>

                <div class="text-center mb-1">
                    <div class="d-none d-lg-flex justify-content-around">
                        <img alt="Creative Commons License" style="border-width:0"
                            src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                    </div>
                    <div class="d-flex justify-content-around">
                        <small>
                        &copy; 2022.
                        This work is licensed under a <a rel="license" class="offsite"
                            href="https://creativecommons.org/licenses/by/4.0/">
                            Creative Commons Attribution 4.0 International License</a>.
                        <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by IRC.
                        </small>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}
    </div> {# id=wrap #}
    {# cdn_js("jquery") #}
    {{ cdn_js("bootstrap") }}

    {% if not config.FONT_ICONS %}

    {{ cdn_js("fontawesome") }}

    {% endif %}
    {% block js %}{% endblock js %}
    {% block stream %}{% endblock %}
</body>
</html>
